@charset "UTF-8";

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: #f0f0f2;
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-image 1s ease-in-out;
}

/* top(로그인 부분) */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 0;
    position: static;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.top-section ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.top-section ul li {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-right: 20px;
    list-style-type: none;
    letter-spacing: 1.5px;
}

.top-section ul li a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 600;
}

.top-section ul li:last-child a {
    margin-right: 30px;
}

.menu-section {
    position: static;
    width: 100%;
    top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.0);
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 180px;
    height: 70px;
    margin-left: 20px;
}

.menu ul {
    list-style-type: none;
    margin-top: 20px;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

.menu ul li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 23px;
    margin-right: 30px;
    color: black;
    text-decoration: none;
}

/* 서브메뉴 */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    z-index: 1;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
}

.submenu.active {
    display: block;
    max-height: 200px;
}

.submenu ul li a:hover {
    text-decoration: underline;
}

#mainTitle h1 {
    font-size: 50px;
    margin-top: 140px;
}
/*헤더끝*/
/*footer*/
.footer {
    background-color: #0E0D0D;
    color: white;
    padding: 20px;
    text-align: left;
    height: 100px;
}

.footer_info {
    text-align: center;
}

.footer h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.footer p {
    font-family: "Gothic A1", sans-serif;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
}
/*푸터끝*/

.main-content {
    width: 1024px;
    background-color: #f0f0f2;
    padding: 60px 20px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant {
    width: calc(33.33% - 20px);
    margin: 20px 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    float: left;
}

/* 마지막 요소의 오른쪽 여백 제거 */
.restaurant:last-child {
    margin-right: 0;
}

.restaurant img {
    width: 100%;
    height: 200px; /* 이미지의 높이 고정 */
    object-fit: cover; /* 이미지를 박스에 맞게 조정 */
    border-radius: 10px 10px 0 0;
}

.restaurant h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
}

.rating {
    margin-top: 5px;
}

.rating .star {
    font-size: 18px;
    color: #FFD700;
}

.restaurant p {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

.main-section {
    position: relative;
}

.sub-content {
    display: flex;
    justify-content: center; /* 요소를 수평으로 가운데 정렬합니다 */
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
}

.sub-content ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 40px 0 0;
}

.sub-content ul li {
    margin-right: 20px;
}

.sub-content ul li:last-child {
    margin-right: 0;
}

.sub-content ul li a {
    font-size: 20px; 
}

.paging span {
    font-size: 20px; /* 텍스트 크기를 20px로 설정 */
}

/* 팝업창 스타일 */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* 팝업 창의 너비를 조정 */
    max-width: 600px; /* 팝업 창의 최대 너비를 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.popup-left {
    width: 100%;
}

.popup-left img {
    width: 100%;
    border-radius: 10px;
}

.popup-right {
    width: 100%;
    margin-top: 20px; /* 모바일에서는 margin-left 대신 margin-top 사용 */
}

.popup-right h2 {
    margin-top: 0;
}

.popup-rating {
    margin: 10px 0;
}

.popup-rating .star {
    font-size: 18px;
    color: #FFD700;
}

#average-rating span {
    color: #FFD700; /* 별 색상을 노란색으로 설정 */
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.review-list {
    width: 100%;
    margin-top: 20px;
}

.review-entry {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.review-icon {
    margin-right: 10px;
    font-size: 20px; /* 아이콘 크기 설정 */
}

.review-details {
    flex-grow: 1;
}

.review-content {
    flex-grow: 1;
}

.review-rating {
    margin-left: 5px;
    color: #FFD700;
}
