@charset "UTF-8";

.faq-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category {
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.category:hover {
    text-decoration: underline;
}

.faq-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 40px;
}

.faq-table th, .faq-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.faq-table th {
    background-color: #f2f2f2;
    font-size: 16px;
}

.faq-table td {
    font-size: 14px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.pagination a.active {
    background-color: #000;
    color: #fff;
}


.faq-question:hover {
    text-decoration: underline;
}
/* FAQ 답변 숨기기 */
.faq-answer {
    display: none;
}
.faq-answer.active {
    display: table-row;
}
.faq-table th, .faq-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
.faq-table th {
    background-color: #f2f2f2;
    font-size: 16px;
}
.faq-table td {
    font-size: 14px;
}

#pageBar {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    gap: 8px; /* 각 페이지 번호 사이의 간격 설정 */
}
/* 페이지 바 내부 요소 스타일 설정 */
#pageBar a, #pageBar strong {
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: rgb(126, 116, 116);
}
#pageBar strong {
    background-color: rgb(126, 116, 116);
    color: white;
}