@charset "UTF-8";
 .footer {
    background-color: #414040;
    color: white;
    padding: 20px;
    text-align: left;
    height: 100px;
}

.footer_info {
    text-align: center;
}

.footer h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.footer p {
    font-family: "Gothic A1", sans-serif;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
}