.sectionflex {
    display: flex; 
    justify-content: space-between; /* 요소들을 좌우 정렬 */
    align-items: flex-start; /* 요소들을 위로 정렬 */
    padding: 50px 0; /* 상하 여백 추가 */
}

.aside {
    width: 20%; /* 너비 조정 */
    background-color: #f9f7f7; /* 연한 회색 배경색 */
    padding: 20px; /* 내부 여백 */
    border-radius: 10px; /* 테두리 둥글게 */
}

.aside ul {
    list-style-type: none; 
    padding: 0; 
    text-align: center;
}

.aside ul li {
    margin-bottom: 20px; /* 항목들 사이의 간격 조정 */
    font-weight: bold; 
    font-size: 18px;
    letter-spacing: 0.1em;
}

.aside ul li a {
    text-decoration: none; 
    color: #333; /* 어두운 회색 글씨색 */
    display: block; 
    line-height: 1.5; 
}

.aside ul li a:hover {
    color: #555; /* 마우스 호버 시 더 어두운 회색으로 변경 */
}
.aside nav ul li hr {
    width: 50%; 
    margin: 0 auto; 
}

.main {
    width: 75%; /* 너비 조정 */
    padding: 20px; /* 내부 여백 */
    background-color: #f9f7f7; 
    border-radius: 10px; 
}

#title {
    font-size: 24px; /* 제목 글자 크기 */
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-bottom: 20px; /* 제목과 내용 사이 간격 추가 */
}

.separator {
    height: 2px; /* 구분선 높이 조정 */
    background-color: #666; /* 회색 구분선 */
    margin: 20px 0; /* 위아래 여백 추가 */
}

.container1 {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    padding-top: 25px; /* 상단 여백 조정 */
}

.searchInput {
    width: 200px; 
    padding: 10px; /* 내부 여백 */
    border-radius: 5px; /* 테두리 둥글게 */
    border: 1px solid #ccc; /* 회색 테두리 추가 */
}

.search,
.newInput {
    padding: 10px 20px; /* 내부 여백 */
    background-color: #007bff; /* 파란색 배경색 */
    color: #fff; /* 흰색 글자색 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 테두리 둥글게 */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newInput {
    margin-left: auto; 
}

.container2 {
    margin-top: 20px;
    margin-bottom: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}
.star {
    color: yellow;
}

/* 비어있는 메시지 스타일 */
.empty-message {
    font-style: italic;
    color: #888;
}

/* 마지막 열 스타일 */
tr:last-child {
    border-bottom: none;
}

/* 홀수 행 배경색 */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* 짝수 행 배경색 */
tr:nth-child(even) {
    background-color: #fff;
}



.reservationInfo {
    width: 100%; 
    border-collapse: collapse; 
}

.reservationInfo th,
.reservationInfo td {
    border: 1px solid #ddd; /* 연한 회색 테두리 */
    padding: 10px; 
    text-align: center; 
}
.sectionflex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
}

.aside {
    width: 20%;
    background-color: #f9f7f7;
    padding: 20px;
    border-radius: 10px;
}

.aside ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.aside ul li {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.aside ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    line-height: 1.5;
}

.aside ul li a:hover {
    color: #555;
}

.main {
    width: 75%;
    padding: 20px;
    background-color: #f9f7f7;
    border-radius: 10px;
}

#title {
    font-size: 24px;
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-bottom: 20px;
}

.separator {
    height: 2px;
    background-color: #666;
    margin: 20px 0;
}

.container {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
	align-items: center;
}

.input-group label {
	width: 120px;
	margin-right: 10px;
}

.input-group span {
	margin: 0 5px;
}

.input-group input[type="password"], .input-group input[type="number"] {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.input-group button {
	padding: 10px 20px;
	background-color: rgb(126, 116, 116);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.input-group button:hover {
	background-color: #0056b3;
}

/* 모달 스타일 */
.modal {
	display: none; /* 기본적으로 모달은 숨겨져 있습니다. */
	position: fixed; /* 모달이 페이지 중앙에 위치합니다. */
	z-index: 1; /* 다른 콘텐츠 위에 표시됩니다. */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* 모달이 화면을 넘어갈 경우 스크롤바를 표시합니다. */
	background-color: rgb(0, 0, 0); /* 모달 배경색 */
	background-color: rgba(0, 0, 0, 0.4); /* 모달 배경색 투명도 */
	padding-top: 60px; /* 상단 패딩 */
}

/* 모달 내용 스타일 */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto; /* 모달이 화면 중앙에 오도록 설정 */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* 모달 너비 */
}

/* 닫기 버튼 스타일 */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* input 태그 스타일 */
.modal-content input[type="text"] {
	width: 100%; /* 너비 100% */
	padding: 10px; /* 내부 여백 */
	margin-top: 10px; /* 위쪽 여백 */
	font-size: 16px; /* 글자 크기 */
}

/* 버튼 스타일 */
.modal-buttons {
	margin-top: 20px; /* 위쪽 여백 */
}

.modal-buttons button {
	padding: 10px 20px; /* 버튼 내부 여백 */
	font-size: 16px; /* 버튼 글자 크기 */
	margin-right: 10px; /* 오른쪽 여백 */
}