@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reservation-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    overflow: auto;
    min-height: 100vh;
    margin: 0 auto; /* 수평 가운데 정렬을 위해 margin 설정 */
    display: flex; /* Flexbox를 사용하여 정렬합니다. */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

section {
  position: relative; /* section 요소의 위치를 상대적(relative)으로 설정 */
    top: 50%; /* 상단 위치를 화면 세로 중앙에 위치시킴 */
    transform: translateY(-50%); /* 수직 방향으로 자신의 높이의 절반만큼 위로 이동하여 중앙 정렬 */
    width: 100%; /* 가로폭을 100%로 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
}


h2 {
    color: #333;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 16px;
    margin: 10px 0;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.main-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.main-button:hover {
    background-color: #0056b3;
}