/* payComplete.css */
.reservation-complete {
	text-align: center;
	padding: 50px 0;
}

.reservation-container {
	border: 2px solid #ccc;
	padding: 20px;
	margin: 30px auto;
	background-color: #f9f9f9;
	max-width: 600px;
}

.reservation-container h2 {
	color: #333;
	margin-bottom: 5px;
}

.reservation-container .info {
	font-size: 18px;
	margin-bottom: 10px;
}

.reservation-container hr {
    margin: 0px auto; 
    width: 30%; 
}


.main-button {
	background-color: rgb(126, 116, 116);
	color: white;
	padding: 14px 20px;
	margin-top: 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
}

.main-button:hover {
	background-color: #45a049;
}